* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #EBF4FB;
    --secondary-color: #F44646;
    --text-color: #141A26;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}